# Top-most EditorConfig file
root = true

# Kotlin files
[*.kt]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 180

# .Kts files
[*.kts]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 180

# XML files
[*.xml]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 180

# Properties files
[*.properties]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 180

# JSON files
[*.json]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 180
